@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
BODY
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4 ,h5,h6
{
  margin: 0;
  padding: 0;
}
p
{
  margin: 0;
  padding:0;
}
:root
{
  --textFont: "Poppins", sans-serif;
  --textColor: #504E4E;
  --navBg : #FFFFFF;
  --orange:#DE7E00;
  --heroColor: #E5E5E5;
  --btnColor :#FF815C;
}
.hero
{
  background: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #0e0e0e8b;
  height: 90vh;
  margin: 5px;
  border-radius: 10px;
}
.nav-items
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-items img 
{
  width: 50px;
  height: 50px;
}
.nav-links a
{
  text-decoration: none;
  color: var(--textColor);
  font-family: var(--textFont);
  text-transform: capitalize;
  padding: 3px 15px;
  border-radius: 20px;
  transition: all 2s;
}
.nav-links
{
  display: flex;
  gap: 0px;
  background: var(--navBg);
  padding: 2px 3px;
  border-radius: 20px;
}
.nav-links a:hover
{
  background: #504E4E;
  color: var(--navBg);
}
.nav-items h4
{
  color: var(--navBg);
  background: var(--orange);
  font-weight: 500;
  font-family: var(--textFont);
  text-transform: capitalize;
  padding: 5px 15px;
  border-radius: 5px;
}
.welcomeTxt p
{
  font-family: var(--textFont);
  position: relative;
  top: 120px;
  left: 30px;
  font-size: 35px;
  line-height: 35px;
  color: var(--navBg);
  font-weight: 200;
  width: fit-content;
}
.section-one
{
  height: 100vh;
  background: var(--heroColor);
}
.image
{
  background: url(./images/heroBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 95vh;
  width:95vw;
  border-radius: 40px;
}
.section-one
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-one p{
  font-size: 35px;
  text-align: start;
  position: relative;
  left: -9em;
  font-family: var(--textFont);
  margin: 20px 10px;
  line-height: 40px;
  color: var(--textColor);
}
.about-Us
{
  display: flex;
  height: 100vh;
  gap: 30px;
  align-items: center;
  justify-content: center;
  background: var(--navBg);
}
.images
{
  display: flex;
  gap: 30px;
  height: 100vh;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.item-one
{
  background: url(./images/sideOne.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 300px;
  width: 150px;
  border-radius: 20px;
}
.item-two
{
  height: 400px;
  width: 150px;
  background: url(./images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 20px;
}
.item-three
{
  background: url(./images/sideTwo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  height: 300px;
  width: 150px;;
  border-radius: 20px;
}
.side-text
{
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 35%;
}
.side-text h1
{
 font-family: var(--textFont);
 font-size: 40px; 
 text-transform: capitalize;
 color: var(--textColor);
 margin: 0;
 padding: 0;
}
.side-text p
{
  font-family: var(--textFont);
  font-size: 15px;
  line-height: 20px;
}
.side-text h4
{
  background: var(--orange);
  font-weight: 500;
  font-family: var(--textFont);
  text-transform: capitalize;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
  margin: 0;
}
.side-text a
{
  color: var(--navBg);
  text-decoration: none;
}
.community
{
  height: 100vh;
  background: url(./images/communityBg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-color: #fbfbfbce;
}
.header-text
{
  text-align: center;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-text p
{
  font-family: var(--textFont);
  font-size: 30px;
  color: var(--textColor);
  line-height: 35px;
  font-weight: 500;
}
.header-text h4
{
  margin-top: 20px;
  font-size: 50px;
  font-family: var(--textFont);
  color: var(--textColor);
}
.header-text a
{
  color: var(--navBg);
  text-decoration: none;
}
.header-text h5
{
  background: var(--orange);
  font-weight: 500;
  font-family: var(--textFont);
  text-transform: capitalize;
  padding: 5px 15px;
  border-radius: 5px;
  width: fit-content;
  font-size: 13px;
  margin-top: 10px;
}